aiofiles==25.1.0
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
attrs==26.1.0
depthai==3.5.0
python-dotenv
frozenlist==1.8.0
idna==3.11
livekit==1.1.5
livekit-api==1.1.0
livekit-protocol==1.1.5
multidict==6.7.1
numpy==2.4.4
opencv-python-headless==4.13.0.92
propcache==0.4.1
protobuf==7.34.1
PyJWT==2.12.1
types-protobuf==7.34.1.20260408
typing_extensions==4.15.0
yarl==1.23.0
